<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sell</title>
    <style>
        .set-table{
            flex-direction: column;
            align-items: center;
            gap: 50px;
        }


        #confirm-btn{
            background: rgb(78, 205, 50);
        }

        #cancel-btn{
            background: red;
            margin-top: 4px;
        }

        .sell-unit{
            display: flex;
            align-items: center;
            background: black;
            padding: 35px;
            color: white;
            font-size: 19px;
            gap: 20px;
        

        }
        .left, .right{
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 20px;
        }
        .right input{
            width: 100%;
            padding: 4px;
            font-size: 19px;
        }
        .sell-unit button{
            width: 8vw;
            font-size: 18px;

        }

       
    </style>
</head>
<body>
<!-- Applying that ejs template which will reamin common on all templates for example navbar, sidebar -->
    <%- include("includes/common.ejs") %>           

    <div class="set-table">

        <table border="1" >
            <thead>
                <tr>
                    <th>Product Code</th>
                    <th>Product name</th>
                    <th>Unit</th>
                    <th>Price per unit</th>
                    <th>Stock Value</th>
                </tr>
            </thead>

            <tbody>
                
                        <tr>
                            <td><%= sell_stock.pcode %> </td>
                            <td><%= sell_stock.pname %> </td>
                            <td><%= sell_stock.unit %> </td>
                            <td><%= sell_stock.ppu %> </td>
                            <td><%= sell_stock.unit*sell_stock.ppu %> </td>
                        </tr>
                
            </tbody>
            
        </table>
        <div class="sell-unit">
            <div class="left">
                <h3>Enter Units: </h3> 
                <button id="cancel-btn" onclick="goback()">Cancel</button>              
            </div>
        <!-- form to input no. of stock you want to sell -->
            <form method="post" action="/sell_history/<%= sell_stock.id %>" class = "right">
                <!-- for input we set its min and max value so no one can input -ve values as well as well the value which is greater than no. of units avilable in stock -->
                    <input type="number" placeholder="0" name="sell_unit" min="0" max="<%= sell_stock.unit %>">
                    <button id="confirm-btn">Confirm</button>
                
            </form>
        </div>
    </div>

    </div>
<body>
<!-- Java script  -->
<script>
    const goback = () =>{
        window.history.back();          // to go to previous page
    }
</script>
</html>