<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sell</title>
    <style>
        .set-table{
            flex-direction: column;
            align-items: center;
            gap: 30px;
        }

        #options-btn{
            display: flex;
            align-items: flex-end;
            gap: 30px;
        }

        #edit-btn{
            background: rgb(255, 224, 47);
        }
        #confirm-btn{
            background: yellowgreen;
        }
    </style>
</head>
<body>
<!-- Applying that ejs template which will reamin common on all templates for example navbar, sidebar -->
    <%- include("includes/common.ejs") %>           

    <div class="set-table">

        <table border="1" >
            <thead>
                <tr>
                    <th>Product Code</th>
                    <th>Product name</th>
                    <th>Unit</th>
                    <th>Price per unit</th>
                    <th>Stock Value</th>
                </tr>
            </thead>

            <tbody>
                
                        <tr>
                            <td><%= sell_stock.pcode %> </td>
                            <td><%= sell_stock.pname %> </td>
                            <td><%= sell_stock.unit %> </td>
                            <td><%= sell_stock.ppu %> </td>
                            <td><%= sell_stock.unit*sell_stock.ppu %> </td>
                        </tr>
                
            </tbody>
            
        </table>

     <!--    <div id="options-btn">
            EDIT button -> if client wants to do changes in new stock so render to back page(previous page) 
            <button id="edit-btn" onclick="goback()">Edit</button>    


            <form method="post" action="/addstock">
                <input type="hidden" name="sell_stock" value='<%= JSON.stringify(sell_stock) %>'>
                <button id="confirm-btn" type="submit">Confirm</button>
            </form>
        
        </div>  -->
        
        <form method="post" action="/sell_history/<%= sell_stock.id %>">
            <input type="number" placeholder="Enter no. of stocks" name="sell_unit">
            <button>Confirm</button>
        </form>

    </div>
<body>
<!-- Java script  -->
<script>
    const goback = () =>{
        window.history.back();          // to go to previous page
    }
</script>
</html>