<!-- EDIT OR DELETE INVENTORY -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sell Stock Page</title>
    <style>
        .edit-b, .delete-b{
            font-size: 20px;
            width: 8vw;
            padding: 5px 5px;
        }
        .delete-b{
            background: rgb(190, 0, 0);
            margin-top: 2vh;
            color: white;
        }
        .edit-b{
            background: rgb(74, 186, 255);
        }

    </style>
</head>
<body>
    <!-- Applying that ejs template which will reamin common on all templates for example navbar, sidebar -->
    <%- include("includes/common.ejs") %>

    <div class="set-table">
        <table border="1" >
            <thead>
                <tr>
                    <th>Product Code</th>
                    <th>Product name</th>
                    <th>Unit</th>
                    <th>Price per unit</th>
                    <th>Stock Value</th>
                    <th>SELL</th>
                </tr>
            </thead>

            <tbody>
                
                    <% for(list of list_data){    %>
                        <tr>
                            <td><%= list.pcode %> </td>
                            <td><%= list.pname %> </td>
                            <td><%= list.unit %> </td>
                            <td><%= list.ppu %> </td>
                            <td><%= list.stock_value %> </td>
                            <td>
                                <!-- 'SELL' Button-->
                                <form method="GET" action="/sell_page/<%= list.id %>/sell"><button class="edit-b">SELL</button></form>
                            </td>
                        </tr>
                    <% } %>
                
            </tbody>
            
        </table>
    </div>
</body>
</html>