<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory</title>
</head>
<body>
    <!-- Applying that ejs template which will reamin common on all templates for example navbar, sidebar -->
    <%- include("includes/common.ejs") %>
    <div class="set-table">
    <table border="1" >
        <thead>
            <tr>
                <th>Product Code</th>
                <th>Product name</th>
                <th>Sell Unit</th>
                <th>Price per unit</th>
                <th>Amount</th>
                <th>Date</th>
            </tr>
        </thead>

        <tbody>
            
                <% for(list of sell_list){    %>
                    <tr>
                        <td><%= list.pcode %> </td>
                        <td><%= list.pname %> </td>
                        <td><%= list.sell_unit %> </td>
                        <td><%= list.ppu %> </td>
                        <td><%= list.amount %> </td>
                        <td><%= list.date %> </td>

                    </tr>
                <% } %>
            
        </tbody>
        
    </table>
    </div>
</body>
</html>
