<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory</title>
    <!-- <style>
        table{
            border: 2px solid red;
        }
        tr, th, td{
            border: 2px solid black;
            padding: 10px;
            margin: 20px;
        }
        th{
            /* border-right: 2px solid black; */
            padding: 0 10px;
        }
    </style> -->

    <!-- <style>
        .set-table{
            /* min-height: 90vh; */
            width: 80vw;
            display: flex;
            /* align-items: center; */
            justify-content: center;
            margin-left: 20vw;
             margin-top: 10vh;
              top: 10vh;
              position: absolute;
        }
        table{
            width: 80%;
            margin: center;
              
        }
        th{
            font-size: 20px;
        }
        th, td{
            padding: 2vw;
            text-align: center;
        }
        thead{
            background: gray;
        }
        tbody{
            /* background: rgb(131, 249, 255)); */
        }
    </style> -->
</head>
<body>
    <!-- Applying that ejs template which will reamin common on all templates for example navbar, sidebar -->
    <%- include("includes/common.ejs") %>
    <div class="set-table">
    <table border="1" >
        <thead>
            <tr>
                <th>Product Code</th>
                <th>Product name</th>
                <th>Unit</th>
                <th>Price per unit</th>
                <th>Stock Value</th>
            </tr>
        </thead>

        <tbody>
            
                <% for(list of list_data){    %>
                    <tr>
                        <td><%= list.pcode %> </td>
                        <td><%= list.pname %> </td>
                        <td><%= list.unit %> </td>
                        <td><%= list.ppu %> </td>
                        <td><%= list.stock_value %> </td>
                    </tr>
                <% } %>
            
        </tbody>
        
    </table>
    </div>
</body>
</html>
